* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: #2c3e50;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #ffffff;
    
}

.header-container h1.logo {
    margin: 0;
    font-size: 1.8em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #16a085;
}

section {
    padding: 60px 0;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    background: #ecf0f1;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.carousel {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.carousel-img {
    display: none;
    width: 100%;
    border-radius: 8px;
}

.carousel-img.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-button-left {
    margin-top: 2200px;
    left: 10px;
}

.carousel-button-right {
    margin-top: 2200px;
    right: 10px;
}


form {

    display: flex;
    flex-direction: column;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 5px;
    text-align: left;
}

form input, 
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #2783ae;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #218c54;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #1a2530;
    color: #ffffff;
}
.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 8px;

}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-item {
    background: #ecf0f1;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.gallery-item p {
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
.service-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 1.2s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #4CAF50;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    margin: 15px 0;
    font-size: 16px;
    color: #333;
}






